*{
    padding: 0;
    margin: 2px;
}
.sixtyfour,body{
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
  }
  .pacifico-regular,body {
      font-family: "Pacifico", cursive;
      font-weight: 400;
      font-style: normal;
    }
   body{
    text-align: center;
    background-color: aqua;
   }
   #input{
    padding: 2px;
    padding-right: 10px;
    margin-top: 40px;
   }
   #btn{
    background-color: rgba(0, 0, 0, 0.87);
    color: white; 
    width: 60px;
    height: 22px;
  }
  #container{
    margin-top: 15px;
  }
  .li1,.li2{
    color: rgb(246, 8, 8);
    font-size: larger;
    font-size: x-large;

  }
  .btn2,.btn3
  {
    background-color:  rgba(0, 0, 0, 0.87);
    color: white; 
    width: 65px;
    height: 25px;
  }